.tabs {
  width: 1600px;
  margin-top: 50px;
  overflow: hidden;
  margin-left: 200px;
}


.tabs__bar {
  position: relative;
  display: flex;
  width: 100%;
  background-color: white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}


.buta:hover {
color: deepskyblue;
}



.tabs__content {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: calc(600px * 3);
  overflow-y: hidden;
  background-color: white;
  will-change: transform, height;
}



.tabs__section {
  padding: 30px;
  width: 600px;
}
